<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Sutdent</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id="sidebar" class="sidebar"></div>

  <div class="main-content">
    <nav class="navbar">
      <h1>Add studetns here ❕ </h1>
    </nav>

    <div class="content">
      <h2>Welcome to the Dashboard</h2>
      <form id="addStudentForm">
        <input type="text" id="name" name="name" placeholder="Name" required />
        <input type="email" id="email" name="email" placeholder="Email" required />
        <input type="text" id="whatsappNumber" name="whatsappNumber" placeholder="WhatsApp Number" required />
        <input type="text" id="altMobileNumber" name="altMobileNumber" placeholder="Alternate Number" required />
        <input type="text" id="address" name="address" placeholder="Address" required />
        <input type="text" id="zipCode" name="zipCode" placeholder="Zip Code" required />
        <input type="text" id="aadharNumber" name="aadharNumber" placeholder="Aadhar Number" required />
        <input type="text" id="fatherName" name="fatherName" placeholder="Father's Name" required />
        <input type="number" id="campusNumber" name="campusNumber" placeholder="Campus Number" required />
        <input type="number" id="seatNumber" name="seatNumber" placeholder="Seat Number" required />
        <input type="date" id="date" name="date" placeholder="Date" required />
        <input type="file" id="profilePicture" name="profilePicture" accept="image/*" />
        <button type="submit">Add Student</button>
      </form>
    </div>
  </div>

  <script src="../js/script.js"></script>
  <script src="../js/sidebar.js"></script>
</body>
</html>
