<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Sutdent</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id="sidebar" class="sidebar"></div>

  <div class="main-content">
    <nav class="navbar">
      <h1>Add students inquiry here ❕ </h1>
    </nav>

    <div class="content">
      <h2>Add Student Properties</h2>
      <form id="inquiryForm">
        <input type="text" id="name" name="name" placeholder="Name" required />
        <input type="text" id="whatsappNumber" name="whatsappNumber" placeholder="WhatsApp Number" required />
        <input type="text" id="altMobileNumber" name="altMobileNumber" placeholder="Alternate Number" required />
        <input type="text" id="aadharNumber" name="aadharNumber" placeholder="Course" required />
        <input type="date" id="date" name="date" placeholder="Date" required />
        <button type="submit">Add Student</button>
      </form>
    </div>
  </div>

  <script src="../js/script.js"></script>
  <script src="../js/sidebar.js"></script>
</body>
</html>
