<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
  <div class="btns">
    <button class="authButton adminBtn">Admin</button>
  <button class="authButton studentBtn">Student</button>
  </div>


  <div class="form-container">
    <div class="admin-login-box">
      <h1>Admin Login</h1>
    <form id="admin-login-form">
      <input type="email" id="admin-email" placeholder="Email" required> <br>
      <input type="password" id="admin-password" placeholder="Password" required> <br>
      <button type="submit">Login</button>
    </form>
    </div>


       <div class="student-login-box">
      <h1>Student Login</h1>
    <form id="student-login-form">
     
      <input type="email" id="register-email" placeholder="Email" required> <br>
      <input type="password" id="register-password" placeholder="Password" required> <br>
      <button type="submit">Login</button>
    </form>
    </div>

  </div>



  
  <script src="../js/admin.js"></script>
</body>
</html>

<!-- <div class="admin-registration-box">
  <h1>Admin Registration</h1>
<form id="admin-register-form">
  <input type="text" id="admin-name" placeholder="Name" required> <br>
  <input type="email" id="register-email" placeholder="Email" required> <br>
  <input type="password" id="register-password" placeholder="Password" required> <br>
  <button type="submit">Register</button>
</form>
</div> -->