<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div id="sidebar" class="sidebar">
    <h2>Dashboard</h2>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="#">Students</a></li>
      <li><a href="addstudent.html">Add Student</a></li>
    </ul>
  </div>

  <div class="main-content">
    <nav class="navbar">
      <h1>View studetns here ❕ </h1>
    </nav>
   
    <form id="setup-form" enctype="multipart/form-data">
      <input type="text" name="brandName" placeholder="Brand Name" />
      <br> Logo <input type="file" name="logo" />
     <br> Color Theme <br> <input type="color" name="themeColor" />
     <br> <input type="number" name="annualTargetStudents" placeholder="Target Students" />
      <input type="number" name="annualTargetIncome" placeholder="Target Income" />
      <input type="text" name="twitter" placeholder="Twitter" />
      <input type="text" name="instagram" placeholder="Instagram" />
      <input type="text" name="youtube" placeholder="YouTube" />
      <input type="text" name="whatsappNumber" placeholder="WhatsApp Number" />
      <input type="text" name="landline" placeholder="Landline" />
      <input type="email" name="email" placeholder="Email" />
      <textarea name="aboutUs" placeholder="About Us"></textarea>
     Images <input type="file" name="sliders" multiple />
      <button type="submit">Save Setup</button>
    </form>
    
    
  </div>

  <script src="../js/sidebar.js"></script>
  <script src="../js/setup.js"></script>
</body>
</html>
